.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto;
    padding: 92px 48px 0;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .photo-grid{
        padding: 89px 25px 0;
        
    }
}

@media screen and (max-width: 653px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    }
}

@media (min-width: 321px) and (max-width: 483px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        padding: 64px 18px 0;
        gap: 15px;
    }
  }


@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(1fr));
        padding: 64px 18px 0;
        gap: 15px;
    }
}

