.cover__subtitle {
    font-family: 'Inter';
    margin: 0;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 114%;
    text-align: center;
    z-index: 1;
    max-width: 360px;
    padding-top: 32px;
}

@media screen and (max-width: 320px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        padding-top: 15px;
    }
}