.header__logo{
    background-image: url(../../../images/__logo.svg);
    display: flex;
    width: 176px;
    height: 52px;
    background-repeat: no-repeat;
    margin-left: 48px;
    margin-top: 28px;
}

@media screen and (max-width: 1024px) {
    
}  

@media screen and (max-width: 768px) {
    .header__logo{
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo{
        background-image: url(../../../images/__logo-mob.svg);
        margin-left: 15px;
        margin-top: 15px;
    }
}