.place__text {
    display: grid;
    row-gap: 25px;
    grid-template-rows: min-content;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__text{
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__text {
        margin: 0;
    }
}
@media screen and (max-width: 653px) {
    .place__text { 
        max-width: 650px;
    }
}

@media screen and (max-width: 320px) {
    .place__text {
        gap: 25px;
        margin-top: 0;
        display: grid;
        max-width: 288px;
        margin: 0 auto;
    }
}

