.footer__copyright{
    margin: 0 auto;
    letter-spacing: 0.02rem;
}


@media screen and (max-width: 653px) {
    .footer__copyright{
        padding-top: 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright{
        padding: 0 0 24px 0;
    }
  }