.cover__background {
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    min-height: 740px;
    background-position: center;
    background-size: 100%;
    margin: 0;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 656px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 340px;
    }
}