.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding: 0;
    padding-bottom: 80px;
}
.place:last-child{
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 50px 10px;
    }
}  

@media screen and (max-width: 768px) {
    .place { 
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        row-gap: 48px;
        padding: 0 0 69px 0;
    }
}

@media screen and (max-width: 653px) {
    .place { 
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 320px) {
    .place{
        grid-template-columns: 1fr;
        gap: 33px;
        padding: 50px 0 0 0;
    }
    .place:last-child{
        padding-bottom: 66px;
    }
    .place:first-child{
        padding-top: 64px;
    }
}